@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.filter{
    width: 100%;
    font-family: 'poppins','Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.filterData{
    border: 1px solid lightgray;
    box-shadow: 1px 2px 3px lightgray;
    padding: 1rem;
    border-radius: .3rem;
    
}
.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 1px;
}
.filterIcons{
    font-size: 30px;
}
.CategoryList{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.CategoryList ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
   
}
.CategoryList ul li{
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}
.PriceList{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.PriceList ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
   
}
.PriceList ul li{
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    padding: .5rem;
    border: 1px solid lightgray;
    width: fit-content;
    border-radius: .3rem;
}
.DiscountList{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.DiscountList ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
   
}
.DiscountList ul li{
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    padding: .5rem;
    border: 1px solid lightgray;
    width: fit-content;
    border-radius: .3rem;
}

.filterData .ClearBtn{
    font-weight: 500;
    font-size: 20px;
}
.filterData .ClearBtn:hover{
    color: #5277F7;
    text-decoration: underline;
}
.FilterClearContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        cursor: pointer;
        letter-spacing: 1px;
        font-size: 15px;
    }
    .CategoryList ul{
        display: flex;
        flex-direction: row;
    }
    .PriceList ul{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: start;
    }
    .DiscountList ul{
        flex-direction: row;
        flex-wrap: wrap;
       align-items: flex-start;
       justify-content: start;
    }
    .DiscountList ul li{
        font-size: 1rem;
        letter-spacing: 0;
    }
    
    .filterData .ClearBtn{
        font-weight: 500;
        font-size: 20px;
    }
    .filterData .ClearBtn:hover{
        color: #5277F7;
        text-decoration: underline;
    }
    .FilterClearContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
}
@media only screen and (max-width: 600px) {
    .title{
        font-size: 15px;
    }
    .CategoryList ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
       justify-content: start;
       padding: 0;
       width: 100%;
       font-size: .7rem;
    }
    .CategoryList ul li{
        font-size: .7rem;
    }
    .PriceList ul{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: start;
        padding: 0;
        font-size: .7rem;
       width: 100%;
    }
    .PriceList ul li{
        font-size: .7rem;
    }
    .DiscountList ul{
        flex-direction: row;
        flex-wrap: wrap;
       align-items: flex-start;
       justify-content: start;
       padding: 0;
       width: 100%;
    }
    .DiscountList ul li{
        font-size: .7rem;
        letter-spacing: 0;
    }
    
    .filterData .ClearBtn{
        font-weight: 500;
        font-size: 15px;
    }
    .filterData .ClearBtn:hover{
        color: #5277F7;
        text-decoration: underline;
    }
    .FilterClearContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
}