@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400&family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.filter {
    width: 100%;
    font-family: 'poppins', 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filterData {
    border: 1px solid lightgray;
    box-shadow: 1px 2px 3px lightgray;
    padding: 1rem;
    border-radius: .3rem;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 1px;
}

.filterIcons {
    font-size: 30px;
}

.CategoryList ul,
.PriceList ul,
.DiscountList ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.CategoryList ul li,
.PriceList ul li,
.DiscountList ul li {
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    padding: .5rem;
    border: 1px solid lightgray;
    width: fit-content;
    border-radius: .3rem;
}

.filterData .ClearBtn {
    font-weight: 500;
    font-size: 20px;
}

.filterData .ClearBtn:hover {
    color: #5277F7;
    text-decoration: underline;
}

.FilterClearContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .title {
        font-size: 15px;
    }

    .CategoryList ul,
    .PriceList ul,
    .DiscountList ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .PriceList ul,
    .DiscountList ul {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .DiscountList ul li {
        font-size: 1rem;
        letter-spacing: 0; 
    }

    .filterData .ClearBtn {
        font-weight: 500;
        font-size: 20px;
    }

    .filterData .ClearBtn:hover {
        color: #5277F7;
        text-decoration: underline;
    }

    .FilterClearContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 15px;
    }

    .CategoryList ul,
    .PriceList ul,
    .DiscountList ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;
        width: 100%;
        font-size: .7rem;
    }

    .CategoryList ul li,
    .PriceList ul li,
    .DiscountList ul li {
        font-size: .7rem;
    }

    .filterData .ClearBtn {
        font-weight: 500;
        font-size: 15px;
    }

    .filterData .ClearBtn:hover {
        color: #5277F7;
        text-decoration: underline;
    }

    .FilterClearContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
}
