@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Roboto&display=swap');
.LoginComponent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.LoderComponent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: #6383FA;
    gap: 1rem;
    
}
.DescriptionSection{
    width: 50%;
    height: 100%;
    background-image: url('../images/Desktop\ -\ 1.svg');
}
.DescriptionSection .Description{
    width: 100%;
    height: 95%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    line-height: 3rem;
    margin-left: 1.5rem;
}
.DescriptionSection .Description p{
    font-size: 40px;
}
.LoginSection{
    width: 50%;
    height: 100%;
    background-color: #E2E6F1;
    display: grid;
    place-content: center;
    gap: 0rem;
}

.LoginSection .Container p{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    letter-spacing: .1rem;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}
.LoginDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 30vw;
    font-weight: bold;
}

.EmailContainer{
    display: flex;
    align-items: center;
    padding:.3rem;
    padding-left: .6rem;
    gap: 1rem;
    background-color: white;
    border-radius: .3rem;
}

.EmailContainer input{
    border: none;
    outline: none;
    height: 2.5rem;
    width: 25rem;
    font-weight: 400;
    letter-spacing: .1rem;
    font-size: 15px;
}
.EmailContainer input::placeholder{
    letter-spacing: .1rem;
}
.EmailLogo{
    color: #6383FA;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.email{
    display: flex;
    flex-direction: column;
}
.ForgetSection{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.ForgetSection button{
    background-color: #E2E6F1;
    color: #6383FA;
    
    font-weight: 600;
    font-size: 15px;
    letter-spacing: .5px;
    border: none;
    cursor: pointer;
}
.MismatchPassword{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: red;
    font-size: 12px;
    
    letter-spacing: .5px;
}
.ForgetSection button:hover{
    text-decoration: underline;
}
.LoginButton button{
    background-color: #6383FA;
    height: 2.5rem;
    width: 100%;
    border: none;
    color: white;
    
    font-size: 18px;
    cursor: pointer;
    border-radius: .3rem;
}
.OrContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 30vw;
    text-align: center;
    padding: 0;
}
.OrContainer span{
    width: 45%;
    height: 3px;
    background-color: #D7DAE6;
}
.OrContainer p{
   margin-top: 1rem;
}
.SocialMediaLogin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    width: 30vw;
}
.SocialMediaLogin button{
    border: none;
    cursor: pointer;
    padding: .5rem;
    border-radius: .3rem;
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.SocialMediaLogin button img{
    width: 25px;
}  
.LoginSignup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: 30vw;
    padding: 0rem;
    font-weight: normal;
}
.LoginSignup button{
    background-color: #E2E6F1;
    border: none;
    color: #6383FA;
    
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.ForgetComponent{
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.4);
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
}
.resetPassword{
    width: 40rem;
    display: flex;
    flex-direction: column;
    background-color: #D7DAE6;
    border-radius: .3rem;
    padding: 1rem;
    gap: 1rem;
}
.resetPassword p{
    color: rgb(0, 0, 0);
    font-size: 15px;
    
    letter-spacing: .1rem;
}
.ResetTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.ResetTop img{
    width: 50px;
}
.crossLogo{
    font-size: 25px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.sendOTP{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sendOTP img{
    width: 30px;
}
.sendOTP button{
    background-color: #6383FA;
    width: auto;
    border: none;
    color: white;
    
    font-size: 18px;
    cursor: pointer;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    align-items: center;
    padding: .7rem;
}
.Menu{
    display: none;
}
.DescriptionSection{
    padding: 1rem;
}
.DescriptionSection header{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.DescriptionSection header img{
    width: 2rem;
    height: 2rem;
}
.DescriptionSection header .product{
    display: flex;
    color: white;
    font-size: 20px;
    font-family: 'Bricolage Grotesque', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}
.DescriptionSection .Description p .quote{
    display: flex;
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
} 
.DescriptionSection header .product img{
    display: none;
}
@media only screen and (max-width: 600px) {
    .LoginComponent{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .DescriptionSection{
        height: 10vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .DescriptionSection .Description{
        font-size: 20px;
        display: none;
    }
    .DescriptionSection .Description p .quote{
        display: flex; 
        color: white;
        font-size: 20px;
    } 
    .LoginSection{
        width: 100vw;
    }
    .Container{
        width: 80vw;
    }
    .LoginDetails{
        width: 80vw;
    } 
    .OrContainer{
        width: 80vw;
    }
    .SocialMediaLogin{
        width: 80vw;
    }
    .LoginSignup{
        width: 80vw;
        font-size: 12px;
    }
    .EmailLogo{
        width: 35px;
        height: 35px; 
    }
    .EmailContainer input{
        width: 20rem;
    }
    .Container section img{
        width: 80px;
        height: 80px;
    }
    .resetPassword{
        width: 20rem;
    }
    .resetPassword p{
        font-size: 14px;
    }
    .ResetTop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .ResetTop img{
        width: 50px;
    }
    .crossLogo{
        font-size: 25px;
        font-weight: 700;
        color: rgb(0, 0, 0);
        cursor: pointer;
    }
    .sendOTP{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        
    }
    .sendOTP .EmailContainer input{
        width: 65vw;
    }
    .sendOTP img{
        width: 30px;
    }
    
  }

